/* TODO remove DEBUG */

.debug{
    border: 1px dashed black;
}

/*! UTILS */

.selected{
    border: 2px solid lightgray;
}

.d-none{
    display: none;
}

/*! MAIN */

main{
    height: 100vh;
    color: white;
}

#carousel{
    height: 300px;
    width: 80%;
    margin: auto;    
}

#carousel-img-container{
    flex: 0 0 80%;
    height: 100%;
    position: relative;
}

.img-card{
    width: 100%;
    height: 100%;
}

#carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: end;
    margin: 1rem;
}

#carousel-thumbnail-container{
    flex: 0 0 20%;
    height: 100%;
    position: relative;
}

.thumbnails{
    height: 100%;
    width: 100%;
}

.thumbnail{
    height: 20%;
    cursor: pointer;
}

.arrow{
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: black;
    z-index: 1;
}

.arrow.up{
    top: 10px;
    left: 50%;
}

.arrow.down{
    bottom: 10px;
    left: 50%;
}


