<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>
    <!-- BOOTSTRAP -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' integrity='sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==' crossorigin='anonymous'/>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- TITLE -->
    <title>Carousel</title>
</head>
<body>
    <main class="container d-flex justify-content-center align-items-center" id="root">
        <div id="carousel" class="d-flex">
            <div id="carousel-img-container">
                <div class="img-card" v-for="(pic, i) in data" v-show="currentIndex === i">
                    <img :src="pic.image" :alt="pic.title">
                    <div class="caption">
                        <h4>{{ pic.title }}</h4>
                        <p class="mb-0">{{ pic.text }}</p>
                    </div>
                </div>
            </div>
            <div id="carousel-thumbnail-container">
                <div class="arrow up" @click="goTo('previous')"><i class="fa-solid fa-angle-up"></i></div>
                <div class="thumbnails">
                    <div v-for="(pic, i) in data" class="thumbnail" :class="{'selected' : currentIndex === i}">
                        <img :src="pic.image" alt="pic.title">
                    </div>
                </div>
                <div class="arrow down" @click="goTo('next')"><i class="fa-solid fa-angle-down"></i></div>         
            </div>
        </div>
    </main>

    <!-- JAVASCRIPT -->
    <script src="js/data.js"></script>
    <script src="js/script.js"></script>
</body>
</html>